@import "/src/assets/mixinStyle.scss";

.catalog {
  width: 1366px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 98px 0px 98px;
}
.catalogHeader {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.catalogContainer {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  
}

.subFilter {
  visibility: hidden;
  position: absolute;
}

.catalogTitle {
  @include reset;
  @include middleTitle;
  text-align: left;
  margin-top: 70px;
  padding-bottom: 60px;

}

.buttonCatalog {
  width: 174px;
  height: 35px;
  border: none;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 25px 0 rgba(26, 33, 47, 0.2);

  transition: 300ms ease-in-out;
  
  color: black;
  margin-top: 15px;

 
  
}

.cardTitle {
  @include lowTitle;
  @include reset;
  margin-top: 20px;
  margin-left: 20px;
}




.catalogContent {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  grid-template-rows: 428px 428px;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  width: 270px;
  height: 428px;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.text {
  @include reset;
  font-size: 14px;
  margin-bottom: 7px;
  margin-right: 12px;
  white-space: nowrap;
}

.cardInfo {
  margin: 15px 20px ;
  
}

.buttonCard {
  background-color: #ff7236;
  box-sizing: border-box;
  color: white;
  margin-top: 15px;
  margin-left: 20px;
  width: 230px;
  height: 46px;
  padding-left: 50px;
  
  &::after {
      content: url("images/paw-rev.svg");
      position: absolute;
      right: 5px;
      top: 5px;
  }

  &:hover {
      transform: scale(1.1);
  }
}

.roomItems {
  display: flex;
  box-sizing: border-box;
}

.includeItems {
  padding-right: 8px;
  padding-bottom: 5px;
  
}

.itemsRoom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textItems {
  @include reset;
  font-size: 14px;
  padding-bottom: 7px;
  padding-top: 5px;
  margin-right: 10px;
  white-space: nowrap;
}