@import "/src/assets/mixinStyle.scss";

.roomsTitle {
    text-align: center;
    margin-top: 140px;
    padding-bottom: 70px;

    @include middleTitle;
  }
  
  
  .rooms {
    position: relative;
  

  &::before {
    content: url("images/fishBack.svg");
    position: absolute;
    top: 30px;
    z-index: 0;
  }
}

.show {
  visibility: visible;
    animation: show 1s ease;
    opacity: 1;
}

.hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  animation: hidden 1ms ease;
  animation-delay: 500ms;
}