@import "/src/assets/mixinStyle.scss";

.popupWrapper {
  position: fixed;
  margin: 0 auto;
  box-sizing: border-box;
  width: 1366px;
  height: 3600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 5vh;
  z-index: 5;
  backdrop-filter: blur(8px);
  background: rgba(255, 254, 253, 0.8);
  

}

.show {
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.popupWrapperInner {
  margin: 0 auto;
  height: 100vh;
  width: 570px;
  overflow: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.popup {
  margin: 0 auto;
  position: sticky;
  width: 570px;
  height: 649px;
  overflow: scroll;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 21px -11px rgba(0, 0, 0, 0.72);
  overflow: hidden;

  &::before {
    content: url("images/pawpopup.svg");
    position: absolute;
    top: -20px;
    left: -20px;
  }
}

.close {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 40px;
  right: 40px;
  cursor: pointer;
  border: none;
  background-color: white;
  box-sizing: border-box;
  transition: 200ms ease-in-out;
  background-image: url("images/close.svg");

  &:hover {
    transform: scale(1.3);
  }
}

.popuptitle {
  @include middleTitle;
  @include reset;
  font-size: 28px;
  padding-top: 70px;
  padding-bottom: 50px;
}


.personinfo {
  box-sizing: border-box;
  width: 430px;
  height: 52px;
  color: black;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #cecece;
  background: white;
  border-radius: 25px;
}

.inputdate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 430px;
  height: 52px;
  margin-bottom: 50px;
}

.date {
  width: 129px;
  height: 42px;
  border: 1px solid #cecece;
  font-size: 16px;
  border-radius: 25px;
  box-sizing: border-box;
  padding-left: 20px;
}

.buttonReservation {
  background-color: #ff7236;
  color: white;
  margin-top: 25px;

  &:hover {
    transform: scale(1.2);
  }

  &::after {
    content: url("images/paw-rev.svg");
    position: absolute;
    right: 7px;
    top: 7px;
  }
}

.popupAccept {
  margin: 0 auto;
  position: relative;
  width: 570px;
  height: 269px;
  margin-top: 27px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 21px -11px rgba(0, 0, 0, 0.72);
  overflow: hidden;

  &::before {
    content: url("images/pawAcc.svg");
    position: absolute;
    bottom: -20px;
    left: -20px;
  }
}

.closeAccept {
  @include reset;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  border: none;
  background-color: white;
  box-sizing: border-box;
  transition: 300ms ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}

.popupAcceptTitle {
  @include reset;
  @include middleTitle;
  font-size: 28px;
  padding-top: 70px;
  padding-bottom: 25px;
}

.buttonAccept {
  box-sizing: border-box;
  width: 122px;
  height: 50px;
  background-color: #ff7236;
  border: none;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 400;
  padding-left: 34px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 25px 0 rgba(26, 33, 47, 0.2);
  transition: 300ms ease-in-out;

  &::after {
    content: url("images/paw-rev.svg");
    position: absolute;
    right: 7px;
    top: 7px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.pawAcc {
  position: absolute;
  left: -10px;
  bottom: -15px;
}

.text {
  @include reset;
}
/* Стилизация placeholder */
.personinfo::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

.personinfo::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

.personinfo:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

.personinfo:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

.personinfo:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.personinfo:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.personinfo:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.personinfo:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.personinfo::-webkit-input-placeholder {
  color: #000000;
}

.personinfo::-moz-placeholder {
  color: #000000;
}
/*Firefox 19+*/
.personinfo:-moz-placeholder {
  color: #000000;
}
/*Firefox 18-*/
.personinfo:-ms-input-placeholder {
  color: #000000;
}