.room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    z-index: 5;
    opacity: 1;
}

.roomImg {
    width: 600px;
    height: 404px;
    position: relative;
    left: 160px;
    border-radius: 10px;
    box-shadow: 0 0 21px -11px rgba(0, 0, 0, 0.72);
}

.roomInfo {
    background-color: rgb(255, 255, 255);
    width: 410px;
    height: 284px;
    border-radius: 10px;
    position: relative;
    right: 175px;
    padding-left: 90px;
    line-height: 2;
    box-shadow: 0 0 21px -11px rgba(0, 0, 0, 0.72);
}

.roomList {
    list-style: none;
    width: 330px;
    padding-left: 9px;
    cursor: default;
}

.roomLi {
    transition: 200ms ease-in-out;


    &::before {
        content: url("Images/point.png");
        position: relative;
        right: 8px;
    }

    &:hover {
        font-size: 19px;
    }
}