.buttonReservation {
  width: 206px;
  height: 50px;
  border: none;
  text-align: left;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 25px 0 rgba(26, 33, 47, 0.2);
  padding-left: 30px;
  transition: 300ms ease-in-out;
}